// Basics
@import "tools/pre";
@import "typography/embed";

// Define output settings for project
$output: set-output(css, true);

// Output the whole framework
@import "~henris";

// Defined settings
@import "tools/post";

// Theme
@import "typography/index";
@import "components/index";

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
}
